<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">

        <title>BiTMONITOR </title>
    </head>
    <body>

        <header>
            <a href="/welcome"><img class='logo' src="/bitMonitorLogo.png" alt=""></a>
        </header>

        <main>
            {{{body}}}
        </main>

<footer>  </footer>

    </body>
</html>
