<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style.css">

        <title>BiTMONITOR </title>
    </head>
    <body>
        <header>
            <h1>Header</h1>
        </header>
        <section>
        </section>
        <main>
            {{{body}}}
        </main>
        <section class="bottonSection">
        </section>


<footer><h3>Footer</h3></footer>

    </body>
</html>
