<main>

    <h1>Results:</h1>
        <div>
            <div class = "coinPrices">
                    <h1> price change statistics for this coin</h1>
                    <p>{{prevDay.priceChange}}</p>

                </div>
<button><a href="/welcome"> Home </a></button>
</main>
