
<main>

    <h1>Results:</h1>
        <div>
            <div class = "coinPrices">
                    <h1>Getting latest price of all symbols</h1>
                    <p>{{ticker.BTCUSDT}}</p>

                </div>
                <div class = "bidAskPrices">
            {{#ticker}}

                    <h1> Getting bid/ask prices for all symbols </h1>
                    <p>{{ticker.BTCUSDT}}</p>

            {{/ticker}}
            </div>
            <div class = 'bookTickers'>
            {{#prevDay}}

                    <h1>Get 24hr ticker price change statistics for all symbols</h1>
                    <p>{{prevDay}}</p>

            {{/prevDay}}
            </div>
            <div class="candlestick">
            {{#ticks}}

                    <h1> ticks on the candlestick </h1>
                    <p>{{ticks}} </p>

            {{/ticks}}
            </div>
        </div>




</main>
