<main>
    <span id='bid'>
    <h1>Price changes (%) from the last 24 hours</h1>
</span>
        <div class=bid>

            {{#each prevDay}}
            <span class = "bidAskCoins">
                <span class="bidAskBox">
                <h1>Symbol: {{symbol}}</h1>

                    <p>Price Change(%): {{priceChangePercent}}</p>
                    <p>Previous Close Price: {{prevClosePrice}}</p>
                    <p> Nominal price change {{priceChange}}</p>
                </span>
                </span>
            {{/each}}

            </div>
<button  class='homeButton' ><a href="/welcome"> Home </a></button>
</main>
