<main>

<h1> Welcome to BiTMONITOR </h1>

<div class='buttons'>
<button><a href="/prices">Quotes</a></button>
<button><a href="/bidask">Bid & Ask</a></button>
<button><a href="/stats">Stats</a></button>
<button><a href="/history">History</a></button>
</div>

</main>
