<main>

<div class='buttons'>
<button><a href="/prices">Quotes</a></button>
<button><a href="/bidask">Bid & Ask</a></button>
<button><a href="/stats">Stats</a></button>
<button><a href="https://www.bloomberg.com/crypto">News</a></button>
</div>

</main>
