<main>

<div class='buttons'>
    <span class='homeButtons'>
<button id='welcomeButton'> <a href="/prices">Quotes</a></button>
<button id='welcomeButton'><a href="/bidask">Bid & Ask</a></button>
</span>
<span class='homeButtons'>
<button id='welcomeButton'><a href="/stats">Stats</a></button>
<button id='welcomeButton'><a href="https://www.bloomberg.com/crypto">News</a></button>
<span>
</div>

</main>
