* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #02c3fc;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    background: #293462;
}

main {
    display: grid;
    background: #216583;
    margin: 10px;
    min-height: 70vh;
}

.logo {
    height: 100px;
    width: 100px;
}

footer {
    background-color: #f7be16;
}

.coinPrices {
    background-color: #293462;
    margin: 10px;
}

.bidAskPrices {
    background-color: #00818a;
    margin: 10px;
}

.bookTickers {
    background-color: #216583;
    margin: 10px;
}

.candlestick {
    background-color: #293462;
    margin: 10px;
}
