* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    background-image: url("financialBackground.jpg") no repeat center center
        fixed;
}

body {
    min-height: 100vh;
    margin: 0;
    background-image: url("financialBackground.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* min-height: 70vh; */
}

header {
    display: flex;
    background: #183661;
    text-align: center;
    justify-content: center;
    min-height: 20vh;
    justify-content: center;
    align-self: center;
    align-items: center;
}

main {
    display: grid;
    background-image: url("financialBackground.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    min-height: 70vh;
}

#bid {
    background-image: url("financialBackground.jpg");
    background-repeat: space;
}

.bid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url("financialBackground.jpg");
    background-repeat: round;
}

.logo {
    height: 250px;
    width: 500px;
    margin: 10px;
}

.coinLogo {
    height: 50px;
    width: 50px;
    margin: 20px;
}

footer {
    background-color: #183661;
    min-height: 10vh;
}

li {
    margin: 10px;
    color: white;
}

.buttons {
    display: grid;
    align-items: center;
    justify-content: space-around;
}

.homeButtons {
    display: flex;
    justify-content: space-around;
}

#welcomeButton {
    height: 150px;
    width: 200px;
}

.homeButton {
    width: 100%;
}
.coinPrices {
    /* background-color: #293462; */
    margin: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background: #1f3c88; */
    /* display: grid;
    /* position: relative; */
    /* grid-template-columns: 1fr 1fr 1fr; */
}

.mainCoins {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* background: #1f3c88; */
}

.mainCoinsBox {
    display: flex;
    border: 1px solid #183661;
    margin: 5px;
    padding: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #1f3c88;
}

.mainCoinsBoxInfo {
    display: grid;
    background: #1f3c88;
}

.bidAskCoins {
    border: 2px solid #ffe837;
    margin: 26px;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #1f3c88;
}

h1 {
    color: #ffe837;
}

h2 {
    color: #ffe837;
}
p {
    color: white;
}

a {
    text-decoration: none;
    color: #183661;
    font-size: 24px;
    font-weight: bold;
}

#coinName {
    color: #ffe837;
}
button {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 20px;
}

button:hover {
    border: 5px solid #ffe837;
}

input {
    font-family: monospace;
    width: 200px;
}

#results {
    font-family: monospace;
}

.highlight {
    background-color: rgba(51, 255, 233, 0.6);
    font-weight: bold;
    font-family: monospace;
    width: 200px;
}

.result {
    width: 200px;
    font-family: monospace;
}
