* {
    margin: 0;
    font-family: "Raleway", sans-serif;
    background-color: #02c3fc;
}

header {
    background: #293462;
}

main {
    background: #216583;
}

section {
    background: #00818a;
}
footer {
    background: #f7be16;
}
